@model Assignment_3B.Models.Candidate

@{
    ViewBag.Title = "Remove";
}

<h2>Remove</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Deleting this Candidate will lead to permanent loss of all data of this specific Candidate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender.GenderType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender.GenderType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NativeLanguage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NativeLanguage)
        </dd>

        <dt>
            @Html.DisplayName("Photo Id Type")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoIdType.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoIdNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoIdNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoIssueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoIssueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LandlineNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LandlineNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressLine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressLine2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryOfResidence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryOfResidence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "Candidate", new { id = Model.CandidateId })) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            @Html.ActionLink("Back to List", "Index","Candidate", new { @class = "btn btn-primary" })
        </div>
    }
</div>
